<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-camera-picker" version="1.0.0" xmlns="http://apache.org/ns/plugins">
    <name>CameraPicker</name>
    <description>Capture photo or pick an image with the Android Photo Picker API</description>
    <license>Apache 2.0</license>
    <js-module src="www/cameraPicker.js" name="CameraPicker">
        <clobbers target="cordova.plugins.cameraPicker" />
    </js-module>
    <platform name="android">
    <preference name="android-minSdkVersion" value="24" />
    <source-file src="src/android/CameraPicker.java" target-dir="src/com/vc/plugins/" />
    <config-file target="app/build.gradle" parent="dependencies">
        <dependency type="gradle" lib="androidx.camera:camera-camera2:1.0.0" />
    </config-file>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CameraLauncher">
                <param name="android-package" value="com.vc.plugins.CameraLauncher"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
         <!-- Add Gradle dependencies if needed -->
    <framework src="com.android.support:support-v4:27.1.1" />
    <framework src="com.android.support:appcompat-v7:27.1.1" />

    <!-- If you require a specific API like camera2 -->
    <framework src="androidx.camera:camera-camera2:1.0.0" />
    <framework src="androidx.camera:camera-lifecycle:1.0.0" />
    
    </platform>
</plugin>
